<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechSky</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='voterid.css') }}"
    />
  </head>
  <body>
    <div class="bg">
      <div class="logogo">
        <img src="../static/voter.png" />
      </div>
      <section>
        <h1 class="ididididid">VOTER'S ID</h1>
        <form action="/delete_all" method="post">
          <button
            type="submit"
            onclick="return confirm('Are Sure Want To Deleted ?')"
            class="btn btn-danger btn-sm"
          >
            DELETE ALL RECORD
          </button>
        </form>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>id</th>
                <th class="idid">Voter's Id</th>

                <th class="opopop">Action</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for row in students %}
              <tr>
                <td>{{row.0}}</td>
                <td class="ewqe">{{row.1}}</td>
                <td class="bytt">
                  <a
                    href="/dsasss/{{row.1}}"
                    class="btn btn-warning btn-sm"
                    data-toggle="modal"
                    data-target="#modaledit{{row.0}}"
                    >Edit</a
                  >
                  <a
                    href="/deletesss/{{ row.0 }}"
                    onclick="return confirm('Are Sure Want To Deleted ?')"
                    class="btn btn-danger btn-sm"
                    >Delete</a
                  >
                </td>
              </tr>
              <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title text-primary"
                        style="align-content: center"
                      >
                        Update Student Details
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{{ url_for('dsad')}}" method="POST">
                        <input type="hidden" name="id" value="{{row.0}}" />
                        <div class="form-group">
                          <label>Full Name</label>
                          <input
                            value="{{row.1}}"
                            type="text"
                            name="idmopo"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Enter Full Name"
                            oninput="validateNumberInput(this)"
                          />
                        </div>

                        <button type="submit" class="btn btn-success mb-2">
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <script>
      function validateNumberInput(input) {
        input.value = input.value.replace(/[^0-9]/g, "");
      }
    </script>
    <script>
      $(window)
        .on("load resize ", function () {
          var scrollWidth =
            $(".tbl-content").width() - $(".tbl-content table").width();
          $(".tbl-header").css({ "padding-right": scrollWidth });
        })
        .resize();
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% extends 'layout.html' %}
  </body>
</html>
